<% provide(:title, "About Us") %>
<h1>About Us</h1>
<p>
  The <a href="http://thawing-garden-32754.herokuapp.com">Chirp app</a>
  is a social networking website. Where you can follow the users of the website who have already registed with us. This
  is highly meant for communication purposes.
</p>