<% provide(:title, "Help") %>
<h1>Welcome to Chirp Help Center</h1>
<p>This page is currently under developement. We will try our best to finish this page as early as possible and provide full support to the users in an efficient way.</p>